InC_Autoloader/_Boot*/*
InC_Autoloader/_Config*/*
InC_Autoloader/Autoloader/_CompileInfo*/*
InC_Autoloader\Autoloader\Autoloader.tmc
InC_Autoloader/Autoloader/Autoloader.plcproj
InC_Autoloader/InC_Autoloader.tsproj
InC_Autoloader/InC_Autoloader.tsproj.bak
InC_Autoloader/TrialLicense.tclrs
.vs/